@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: black;
}

h1 {
    font-size: 30px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin-top: 80px;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

body {
    height: 100vh;
    margin-top: 150px;
    display: flex;
    background: black;
}
  
.matching-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    grid-template-columns: repeat(5, 20vmin);
    grid-template-rows: repeat(4, 20vmin);
}
  
.matching-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
  
.matching-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
  
.matching-card.flip {
    transform: rotateY(180deg);
}
  
.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 1px;
    position: absolute;
    border-radius: 4px;
    background: white;
    backface-visibility: hidden;
}
  
.front-face {
    transform: rotateY(180deg);
}

button {
    background: yellow;
    color: black;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 900px;
    margin-bottom: 300px;
    position: absolute;
    width: 20%;
    height: 30px;
    border-radius: 10px;
}



/* TIMER */
body {
    font-family: 'Press Start 2P', cursive;
    display: grid;
    height: 100vh;
    place-items: center;
    color:white;
    background-image: url("images/death-star.jpg");
    background-size: cover;
  }
  
  .base-timer {
    position: relative;
    width: 200px;
    height: 200px;
    right: 500px;
    bottom: 600px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }